.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://cdn.syncfusion.com/ej2/material.css");

/* table {
  width: 100%;
}

thead, tbody, tr, td, th { display: block; }


tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 40px;
} */
  /*text-align: left;*/

/* 
tbody {
  height: 120px;
  overflow-y: auto;
}

thead {
 
}


tbody td, thead th {
  width: 14%;
  height: 60px;
  float: left;
} */
